.Button {
  background-color: transparent;
  cursor: pointer;
  border: 2px solid rgb(236, 236, 236);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  cursor: pointer;
}

.Button.complete-button {
  border: 2px solid rgb(255, 186, 83);
}

.Button.complete-button:hover {
  background-color: rgb(255, 186, 83);
  color: white;
}

.Button.delete-button {
  border: 2px solid rgb(255, 98, 98);
}

.Button.delete-button:hover {
  background-color: rgb(255, 98, 98);
  color: white;
}

.Button.edit-button {
  border: 2px solid rgb(255, 186, 83);
}

.Button.edit-button:hover {
  background-color: rgb(255, 186, 83);
  color: white;
}
